
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: rgb(253, 253, 253);
  height: 100vh;


 
}
.edu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar {
  background-color: transparent;
  padding: 15px;
  overflow: hidden;
}

.navbar a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 8px;  
  text-decoration: none;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #ddd; 
  color: black;
}

.navbar #logo {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}
.education-section h1{
    text-align: center;
    margin-top:20px;
}


    .round-image {
      width: 250px; 
      height: 250px; 
      overflow: hidden;
      /* float:left; */
      border-radius: 50%; /* Make it round */
      margin-left:180px;
      margin-right: 40px;
    }

    .round-image img {
      /* width: 100%; */
      /* height: auto; */
      display: block;
    }







.edu-head{
 text-align: center;
 margin-left:400px;
}

.edu-info {
    background: linear-gradient(to bottom, rgba(169, 169, 169, 0.4) 40%, rgba(255, 255, 255, 0.8) 40%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 10px auto;
    overflow: hidden;
    max-width: 600px; /* Set a maximum width to prevent excessive width on larger screens */
    width: 100%; /* Ensure it takes the full width of its container */
    border-radius: 10px;
    height: 200px; /* Set a fixed height based on your design */
 
  }
  
  .edu-info h2 {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 20px;
    overflow-wrap: break-word; /* Allow long words to break and wrap */
  }
  
  .edu-info h3 {
    color: #ffbf35;
    font-weight: 500;
    margin-bottom: 2px;
    font-size: 17px;
    overflow-wrap: break-word; }
  
  .edu-info p {
    font-size: 15px;
    overflow-wrap: break-word; /* Allow long words to break and wrap */
  }
  
  .year {
    float: right;
  }

 .college-link {
    position: absolute;
    
    text-decoration: none;
    color: #d0b200; 
     display: flex;
    align-items: center;
  }
  
  .college-link svg {
    margin-left: 5px;
  }
  .footer-section{

    text-align: center;
    font-weight: bold;
  }